<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="pm_mssql_exporter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="pm_mssql_exporter.Properties.Settings.ConnStr" connectionString="Server=SRV-4\EX2014_KP;Database=master;Trusted_Connection=True;" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <pm_mssql_exporter.Properties.Settings>
            <setting name="JobName" serializeAs="String">
                <value>mssql_monitoring</value>
            </setting>
            <setting name="InstanceName" serializeAs="String">
                <value>auto</value>
            </setting>
            <setting name="IsEnabledPusher" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PushGatewayUri" serializeAs="String">
                <value>http://localhost:9091/metrics</value>
            </setting>
            <setting name="PushIntervalSec" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="IsEnabledServer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ServerUri" serializeAs="String">
                <value>http://localhost:7000/</value>
            </setting>
            <setting name="IsEnabledConnectionInfo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsEnableOsPerfCounters" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OsPerformanceCounters" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>gauge  ; mssql_table_lock_escalations_per_sec ; Table Lock Escalations/sec  ;          ;</string>
                        <string>gauge  ; mssql_buffer_cache_hit_ratio         ; Buffer cache hit ratio      ;          ;</string>
                        <string>gauge  ; mssql_average_latch_wait_time_ms     ; Average Latch Wait Time (ms);          ;</string>
                        <string>counter; mssql_activation_errors_total        ; Activation Errors Total     ;          ;</string>
                        <string>gauge  ; mssql_average_wait_time_ms           ; Average Wait Time (ms)      ; _Total   ;</string>
                        <string>gauge  ; mssql_lock_timeouts_per_sec          ; Lock Timeouts/sec           ; _Total   ;</string>
                        <string>gauge  ; mssql_lock_wait_time_ms              ; Lock Wait Time (ms)         ; _Total   ;</string>
                        <string>gauge  ; mssql_number_of_deadlocks_per_sec    ; Number of Deadlocks/sec     ; _Total   ;</string>
                        <string>gauge  ; mssql_cache_hit_ratio                ; Cache Hit Ratio             ; _Total   ;   Plan Cache </string>
                        <string>gauge  ; mssql_transactions_per_sec           ; Transactions/sec            ; _Total   ;</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="IsEnableCustomMetrics" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CustomMetrics" serializeAs="Xml">
                <value>
                    <ArrayOfCustomMetricSett xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <CustomMetricSett Type="gauge" Name="mssql_transas_log_book_insert"
                            IsEnabled="true">
                            <Help>row count of vtsdb.dbo.LogBook</Help>
                            <Sql>select count(*) as cn from  vtsdb.dbo.logbook</Sql>
                        </CustomMetricSett>
                        <CustomMetricSett Type="gauge" Name="mssql_vtsdb2_active" IsEnabled="true">
                            <Help>vessel by zone and receipt type</Help>
                            <Sql>
                                select z.RZoneVTS_Prefix, t.ReceiptType_Code, count(*) as cn
                                from vtsdb2.nav.receiptActive as a
                                join vtsdb2.nav.Receipt as r on r.Receipt_GUID = a.Receipt_GUID
                                join vtsdb2.nsi.ReceiptType as t on t.ReceiptType_GUID = r.ReceiptType_GUID
                                join vtsdb2.nsi.ResponsZoneVTS as z on z.ResponsZoneVTS_GUID = a.ResponsZoneVTS_GUID
                                group by z.RZoneVTS_Prefix, t.ReceiptType_Code
                            </Sql>
                        </CustomMetricSett>
                    </ArrayOfCustomMetricSett>
                </value>
            </setting>
        </pm_mssql_exporter.Properties.Settings>
    </applicationSettings>
    <log4net>
        <!--<appender name="txtLog" type="log4net.Appender.RollingFileAppender">-->
        <appender name="txtLog" type="log4net.Appender.RollingFileAppender">
            <!--
            for details look http://logging.apache.org/log4net/release/config-examples.html (RollingFileAppender)
            for file name pattern https://logging.apache.org/log4net/log4net-1.2.11/release/sdk/log4net.Util.PatternString.html 
            -->
            <file type="log4net.Util.PatternString" value="${PROGRAMDATA}\pm_exporter\Logs\pm_mssql_exp_log_%date{yyyyMMdd_HHmmss}_pid%processid{#00000}.txt" />
            <appendToFile value="false" />
            <rollingStyle value="Size" />
            <maxSizeRollBackups value="-1" />
            <maxSizeRollBackups value="10" />
            <maximumFileSize value="10MB" />
            <staticLogFileName value="true" />
            <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%newline%date{yyyy.MM.dd HH:mm:ss.fff} [%3thread] %-5level - %logger %message " />
            </layout>
        </appender>
        <appender name="consoleColor" type="log4net.Appender.ManagedColoredConsoleAppender">
            <mapping>
                <level value="ERROR" />
                <foreColor value="White" />
                <backColor value="Red" />
            </mapping>
            <mapping>
                <level value="WARN"/>
                <foreColor value="Yellow"/>
            </mapping>
            <mapping>
                <level value="DEBUG"/>
                <foreColor value="DarkGray"/>
            </mapping>
            <mapping>
                <level value="INFO"/>
                <backColor value="DarkCyan" />
            </mapping>
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date{MM.dd HH:mm:ss.fff} [%3thread] %-5level %logger %message%newline" />
            </layout>
        </appender>
        <root>
            <level value="ALL" />
            <appender-ref ref="txtLog" />
            <appender-ref ref="consoleColor" />
        </root>
    </log4net>

</configuration>